body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

body>div {
  flex: 1;
  margin: 0;
}

table {
  width: 100vw !important;
  margin: 0;
}

.scroll {
  height: 50vh;
  overflow-y: scroll !important;
}

.select-boxes {
  display: flex;
  flex-flow: row wrap;
}

.select-boxes>div {
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

option {
  background-color: #dadada;
}

optgroup[label='Red'],
optgroup[label='Red']>option {
  background-color: #f4cfce;
}

optgroup[label='Blue'],
optgroup[label='Blue']>option {
  background-color: #c0e3f2;
}