* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-x: scroll;
  overflow-y: hidden;
}

table {
  text-align: center;
}

.table {
  overflow-y: scroll;
}

input[type='range'] {
  width: 100%;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../assets/cell120.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#autoBallTotal,
#teleBallTotal {
  float: right;
  width: 83%;
}

canvas {
  background-image: url('../assets/render.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 600px;
  height: 300px;
}

legend {
  text-align: center;
  font-size: 2rem;
}

.scroll-container {
  height: 100vh;
  scroll-snap-type: x mandatory;
  box-sizing: content-box;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.chunk {
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  position: relative;

  border: 0.3rem solid black;

  box-sizing: content-box;
}

.spacer {
  min-width: 50vw;
  height: 100vh;
}

.readout {
  float: right;
}

.chungus {
  width: 100%;
  height: 100%;
}

.chungoid {
  width: 100%;
  height: 100vh;
}

#teamNo {
  position: fixed;
  z-index: 5;
  bottom: 0.1rem;
  left: 0.1rem;
}

#submitBtn {
  position: fixed;
  z-index: 5;
  bottom: 0.1rem;
  right: 0.1rem;
}